/**
 * CSS Stylesheet for the front-end interface for Food and Drink Menu
 *
 * @package Food and Drink Menu
 */

.clearfix {
	clear: both;
}

.fdm-menu,
.fdm-section {
	margin: 0;
	list-style: none;
	padding: 0;
}
.fdm-columns-2 .fdm-column {
	width: 47%;
	float: left;
}
.fdm-menu .fdm-column {
	margin-right: 3%;
}
.fdm-columns-2 .fdm-column-last {
	float: right;
	margin-left: 3%;
	margin-right: 0;
}
.fdm-section-header {
	border-bottom: 1px solid #333;
}
.fdm-section-header,
.fdm-section-header h3,
.fdm-section-header p,
.fdm-item-panel,
.fdm-item-panel p {
	margin: 0;
	margin-bottom: 1em;
}
.fdm-section-header h3 {
	margin-bottom: 0.5em;
}
.fdm-item {
	margin-bottom: 2em;
}
.fdm-item-panel {
	position: relative;
}
.fdm-item-panel p {
	margin: 0;
	margin-bottom: 0.5em;
}
.fdm-item-panel .fdm-item-title {
	font-weight: bold;
}
.fdm-item-has-image .fdm-item-panel p  {
	padding-left: 35%;
}
.fdm-item-image {
	float: left;
	width: 33%;
	height: auto;
}
.fdm-item-has-price .fdm-item-panel p {
	padding-right: 20%;
}
.fdm-item-price-wrapper {
	position: absolute;
	width: 20%;
	text-align: right;
	top: 0;
	right: 0;
	white-space: nowrap;
}

/**
 * Enlarged layout text size
 ***************************/
.fdm-layout-enlarged,
.fdm-layout-enlarged .fdm-section-header h3 {
	font-size: 150%;
}
.fdm-layout-enlarged .fdm-item-panel .fdm-item-title {
	font-size: 120%;
}

/**
 * This media query is pegged to Bootstrap 3's breakpoint
 *
 * Edit the max-width to match your responsive site's collapsed columns
 * breakpoint
 ********************************************************/
@media (max-width: 991px) {

	 .fdm-columns-2 .fdm-column {
		width: 100%;
		float: none;
		margin: 0;
	}

}

/**
 * Fully vertical layout for very small screens
 **********************************************/
@media (max-width: 450px) {

	.fdm-item-image {
		width: 100%;
		float: none;
		margin-bottom: 2em;
	}
	.fdm-item-has-image .fdm-item-panel p,
	.fdm-item-has-price .fdm-item-panel p {
		padding: 0;
	}
	.fdm-item-price-wrapper {
		text-align: left;
		white-space: normal;
		position: relative;
		margin-bottom: 1em;
	}

}
