/**
 * CSS Stylesheet for the admin interface for Food and Drink Menu
 *
 * @package Food and Drink Menu
 */

/**
 * Admin dashboard icons
 ***********************/
#adminmenu #menu-posts-fdm-menu .wp-menu-image:before { content: "\f330"; }
#adminmenu #menu-posts-fdm-menu-item .wp-menu-image:before { content: "\f164"; }

/* Input controls for custom post type options */
.fdm-input-control {
	margin: 20px 0;
}
.fdm-input-control label {
	width: 100%;
	display: block;
	font-weight: bold;
}
.fdm-input-control input[type="text"] {
	width: 25em;
}
.fdm-input-side-panel .fdm-input-control input[type="text"] {
	width: 100%;
}
.fdm-radio-control label {
	display: inline;
	width: auto;
}

/**
 * Menu Organizer
 ****************/
#fdm-menu-column-one,
#fdm-menu-column-two {
	width: 48%;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#fdm-menu-column-one {
	float: left;
}
#fdm-menu-column-two {
	float: right;
}
#fdm-menu-organizer .fdm-column {
	float: left;
	width: 50%;
}
#fdm-menu-organizer .fdm-column h4 {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: center;
}
#fdm-menu-column-one .fdm-options h4,
#fdm-menu-column-one .fdm-options ul,
#fdm-menu-column-two .fdm-added h4,
#fdm-menu-column-two .fdm-added ul  {
	border-right: 1px solid #ccc;
}
#fdm-menu-organizer .fdm-column ul {
	margin: 0;
	padding: 10px;
	height: 300px;
	overflow: auto;
}
#fdm-menu-organizer .fdm-added ul {
	background-color: white;
}
#fdm-menu-organizer a {
	display: block;
	width: 100%;
	padding: 5px 0;
	text-align: center;
	background-color: #888;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}
#fdm-menu-organizer a:hover {
	background-color: #555;
}
#fdm-menu-organizer .fdm-added a {
	background-color: #30a82a;
}
#fdm-menu-organizer .fdm-added a:hover {
	background-color: #2c7a28;
}
.fdm-menu-shortcode {
	font-family: monospace;
	background-color: white;
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
#fdm_menu_layout p {
	clear: both;
}

/**
 * Admin post lists
 */
.fdm-cols td {
	background: #ddd;
	padding: 0.5em;
	border-radius: 0.5em;
}
.fdm-cols td p:last-child {
	margin-bottom: 0;
}
